@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofadi+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(14, 223, 14);
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center ;
}
ul li{
    list-style:none ;
    margin: 0 13px;
}
table{
    border: 2px solid black;
}

.container{
    margin: 23px auto;

}
h1,h2,h3{
    margin: 23px;
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 9px;
    background-color: chartreuse;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;   
}
.btn:hover{
    transition: 0.9s;
    font-size: 22px;
}
.logo{
    margin-left: 10px;
}
